---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import image from "../images/fishing.png";
let imagealt = "chlomaki fishing";
---

<Layout title="404 / nvkomata">
  <main
    class="select-none font-mono mx-auto px-4 h-screen text-sm flex flex-col justify-center items-center"
  >
    <Image src={image} alt={imagealt} title={imagealt} />
    <div class="max-w-lg mt-4 px-4">
      <h1 class="flex justify-between gap-2 text-4xl">
        {
          [..."404"].map((char, index) => (
            <span id={`char-${index}`}>{char}</span>
          ))
        }
      </h1>
      <p class="flex justify-between">
        {
          [..."not found"].map((char, index) => (
            <span id={`char-${index}`}>{char}</span>
          ))
        }
      </p>
    </div>
    <a
      class="border-t border-pink-200/20 transition-all mt-4 px-4 py-2 font-bold hover:bg-white hover:text-zinc-950"
      href="/">go back</a
    >
  </main>
</Layout>
