---
import Icon from "./Icon.astro";

interface Props {
  href: string;
  name: string;
  icon: string;
}

const { href, name, icon } = Astro.props;
---

<a
  rel="me"
  href={href}
  title={name}
  aria-label={icon}
  class="p-2 fill-current transition-all rounded-xl max-w-max bg-neutral-900/50 text-white select-none inline-flex items-center justify-center gap-2 hover:bg-white hover:text-zinc-950"
>
  <div class="w-6 h-6">
    <Icon icon={icon} />
  </div>
  <span>{icon}</span>
</a>
